@charset "utf-8";

/* 폰트 적용 */
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 300;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
}
@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html > body, html > body .tui-editor-contents {
 font-family: 'LotteMartDream', sans-serif;
}

.maple-font{
    font-family: 'MaplestoryOTFBold', sans-serif;
}

.con-pad {
  padding:0 1rem;
}

.top-bar {
  position: fixed;
}

.common-btn{
    background-color: white;
}
.common-btn:hover{
    background-color: rgb(30, 58, 138);
}
.bg-navy{
  background-color: #000080 ;
}
.text-navy{
  color: #000080;
}

.section-articles > div > div > div > div:last-of-type+hr{
  display: none;
}
/* 모바일 사이드 메뉴 */
.mobile-side-menu__bg{
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility .3s, opacity .3s;
}

.mobile-side-menu.active > .mobile-side-menu__bg{
  visibility: visible;
  opacity: 1;
}
.mobile-side-menu__content{
  position: fixed;
  width: calc(100% - 10%);
  background-color: white;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translatex(100%);
  transition: transform .3s;
}
.mobile-side-menu.active .mobile-side-menu__content{
  transform: translatex(0);
}
.mobile-side-menu__link-box > li > a{
  border-bottom: 2px solid white;
}
.mobile-side-menu__link-box > li.active > a{
  border-bottom: 2px solid #000080;
}
.mobile-side-menu__board-box > li{
    color: #000080;
    border-bottom: 2px solid #000080;
}
.mobile-side-menu__board-box > li.active{
    color: #F3F4F6;
    border-color: #F3F4F6;
}
@media (max-width: 767px) {
    html.mobile-side-bar-actived,
    html.mobile-side-bar-actived > body{
      overflow: hidden;
    }
}
/* PC탑바 메뉴박스 */

.top-bar__menu-box-1 ul{
    background-color: #000080;
    color: white;
    white-space: nowrap;
}
.top-bar__menu-box-1 ul > li{
    position: relative;
}
.top-bar__menu-box-1 ul > li:hover{
    color: #000080;
    background-color: #F3F4F6;
}
.top-bar__menu-box-1 > ul ul{
    display: none;
    position: absolute;    
    width: 100%;
    top: 100%;
}
.top-bar__menu-box-1 ul > li:hover > ul{
    display: block;
}
/* 페이지네이션 */
.page-menu > .prev{
    padding: .5rem;
}
.page-menu > .next{
    padding: .5rem;
}
/* 토스트 에디터 모바일에서 코드 튀어나오는거 스크롤처리 */
.tui-editor-contents pre {
  margin: 2px 0 8px;
  padding: 18px;
  background-color: #f5f7f8;
  overflow: auto;
}
/* 모바일 서치박스 버튼 */
.mobile-search-box__bg {
  visibility: hidden;
}

.mobile-search-box__bg.active{
  visibility: visible;
}

@media (max-width: 767px) {
  .mobile-search-box {
    position: relative;
  }

  .searchKeyword-input-bar {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    right: 0;
  }

  .open-searchKeyword-input-bar.active{
    visibility: hidden;
  }

  .open-searchKeyword-input-bar.active+.searchKeyword-input-bar {
    visibility: visible;
    opacity: 1;
  }
}
